* {
  padding: 0;
  margin: 0;
}
body, html {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#d8e6f1, #87a5c0);
  font-family: Roboto , Verdana, Geneva, Tahoma, sans-serif;
}
body {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 15% 65% 20%;
}
.container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  background-color: white;
}
.header {
  display: flex;
  background-color: #6a96d8;
  flex-direction: row;
  align-items: center;
  color: white;
}
.header .name {
  flex: 6;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}
.header img {
  opacity: 0.7;
  flex: 1;
  cursor: pointer;
}
.header img:hover{
  opacity: 1;
}
.header .dot {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: 35px;
}
.chat {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  overflow-y: auto;
  justify-items: flex-end;
}
.date-day {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 2;
}
.date-day span {
  padding: 0 5px;
  color: #dee0e4;
}
.message {
  flex: 2;
  display: flex;
  padding: 10px;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}
.message div {
  border-radius: 5px;
  padding: 10px;
  max-width: 75%;
}
.message span{
  color: rgb(192, 218, 241);
}
.message.me {
  align-items: flex-end;
}
.message.them {
  align-items: flex-start;
}
.message.me div{
  background-color: #f2f2f2;
}
.message.them div{
  background-color: #e6edf6;
}
.message.danger div{
  background-color: #ffc2c1;
}
.user_message{
  align-items: center;
  display: flex;
  height: 100%;
  flex: 1;
  border-top: 1px solid rgb(214, 209, 200);
}
.user_message .user_input{
  flex: 5;
  outline: none;
  font-size: 16px;
  border: none;
}
.user_message .user_send{
  font-weight: 600;
  color: #6a96d8;
  font-size: 20px;
  flex: 1;
  text-transform: uppercase;
  cursor: pointer;
}
.user_box_message {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

@media only screen and (max-width: 600px){
  body {
    grid-template-columns: 10% 80% 10% !important;
  }
}

@media only screen and (max-width: 1000px){
  body {
    grid-template-columns: 25% 50% 25%;
  }
}